.headerContainer {
  color: rgb(0, 0, 0);
  font-size: 20px;
  padding: 10px;
  width: 92vw;
  border: 1px solid #b8b2b2;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.headerContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

.headerContentInner {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
  padding: 10px;
}

.headerContentInnerItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 10px;
}
.headerGroup {
  margin-left: 10px;
}

.headerContentInnerGroup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.title {
  font-size: 30px;
}

.sub-title {
  font-size: 20px;
}
